.imagem-sobre {
    margin-bottom: 20px;
}

.titulos-h2 {
    font-weight: 600;
    color: black;
}

.card-estilos {
    width: 100%;
}

.banner-separador {
    background-color: rgba(128, 128, 128, 0.116);
    padding: 20px 0px 20px 0px;
    border-style: hidden;
}

.banner-separador h3 {
    font-weight: 700;
}

.nossos-projetos {
    margin-top: 20px;
}

.casa {
    margin-bottom: 20px;
}
.casa h3 {
    font-weight: 600;
    margin-top: 20px;
}

.depoimentos {
    background-color: rgb(184, 204, 204);
    padding: 10px 0 10px 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
}

.texto {
    color: #FFF;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.3px;
}

.sessao-depoimentos {
    margin-bottom: 20px;
}

.video h2 {
    
}

.formulario {
    margin-top: 20px;
    font-weight: 650;
}

